* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('../photos/addmedicinepic.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 50%; 
    background: rgba(240, 240, 240, 0.9);
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px 10px; 
    text-align: center;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    color: #333;
    font-size: 40px; 
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 140%;
    font-size: 25px;
    margin: 10px;
    color: #555;
    text-align: center;
}

input, select {
    width: 140%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 18px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

